@theme "colors.rasi"

* {
  font: "JetBrainsMono Nerd Font 13";

  border-radius: 6px;
  padding: 6px;
  spacing: 6px;
}

window {
  border: 2px;
  border-color: @border-color;
  background-color: @background;
  fullscreen: false;
}

mainbox {
  children: [inputbar, listview];
  background-color: @background;
}

inputbar {
  background-color: @background-alt;
  border: 1px;
  border-color: @border-color;
  margin: 6px;
  padding: 8px;
  children: [prompt, entry];
}

prompt {
  text-color: @selected-foreground;
  background-color: @selected;
}

entry {
  text-color: @foreground;
  background-color: inherit;
}

listview {
  lines: 10;
  scrollbar: false;
  background-color: @background;
}

element {
  text-color: @foreground;
  background-color: @background;
  border-radius: @border-radius;
}

element-icon {
  background-color: @background;
}

element-text {
  background-color: @background;
  text-color: @foreground;
}

element selected {
  background-color: @background-alt;
  text-color: @selected;
  border: 1px;
  border-color: @border-color;
}

element-icon selected {
  background-color: @background-alt;
}

element-text selected {
  background-color: @background-alt;
  text-color: @selected;
}
