/* -----------------------
 * Catppuccin Mocha Variables
 * ----------------------- */
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;
@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color text      #cdd6f4;
@define-color subtext0  #a6adc8;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;
@define-color peach     #fab387;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;

/* Catppuccin-specific extras already seen in your file */
@define-color darktext  #1e1e2e;
@define-color muted     #626880;
